<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/login.css}" media="screen" />
</head>
<body>
	<div class="login-box" th:if="${session.loggedUser != null}">
		<div class="lb-header">
			Hi <span id="login-box-link" th:text="${session.loggedUser.name}" />
		</div>
		<div>
			<img class="profileImg" th:src="${session.loggedUser.thumbnailUrl}">
		</div>
		<div class="logout">
			(<a th:href="@{/account/logout}" class="active" id="login-box-link">Logout</a>)
		</div>
	</div>
	<div class="login-box" th:if="${session.loggedUser == null}">
		<div class="lb-header">
			<a href="#" class="active" id="login-box-link">Login</a>
		</div>
		<div class="social-login">
			<a href="#" onclick="document.getElementById('fbSignIn').submit();">
				<i class="fa fa-facebook fa-lg"></i> Login in with facebook
			</a> <a href="#"> <i class="fa fa-google-plus fa-lg"></i> log in with
				Google
			</a>
		</div>
		<form id="fbSignIn" th:action="@{/signin/facebook}" method="POST">
		<input type="hidden" name="scope" value="public_profile,user_friends,email" />
		</form>
		<form class="email-login">
			<div class="u-form-group">
				<input type="email" placeholder="Email" />
			</div>
			<div class="u-form-group">
				<input type="password" placeholder="Password" />
			</div>
			<div class="u-form-group">
				<button>Log in</button>
			</div>
			<div class="u-form-group">
				<a href="#" class="forgot-password">Forgot password?</a>
			</div>
		</form>
	</div>
</body>
</html>